@model Billing

@{
    ViewData["Title"] = "Relax Hotel | Delete Billing";
}

<div class="modal fade" id="DeleteBill-@Model.BillingID" tabindex="-1" aria-labelledby="DeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <div class="d-flex align-items-center justify-content-center">
                    <img src="~/img/logo-hotel-bg.png" width="40px" />
                    <h5 class="ms-2">@ViewData["Title"]</h5>
                </div>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-action="ConfirmDelete" method="post" enctype="multipart/form-data">
                    <input type="hidden" asp-for="BillingID" />

                    <div class="mb-3​ fw-bold">
                        <p>Are you sure you wanna delete Custome?</p>
                        <dl class="row">
                            <dt class="col-sm-4">Reservation</dt>
                            <dd class="col-sm-8">@Model.ReservationID</dd>

                            <dt class="col-sm-4">Customer Name</dt>
                            <dd class="col-sm-8">@Model.Customer.FirstName @Model.Customer.LastName</dd>

                            <dt class="col-sm-4">Room Number</dt>
                            <dd class="col-sm-8">@Model.Room.RoomNumber</dd>

                            <dt class="col-sm-4">Amount</dt>
                            <dd class="col-sm-8">$@Model.Amount</dd>

                            <dt class="col-sm-4">Start Date</dt>
                            <dd class="col-sm-8">@Model.StartDate.ToString("yyyy-MM-dd")</dd>

                            <dt class="col-sm-4">End Date</dt>
                            <dd class="col-sm-8">@Model.EndDate.ToString("yyyy-MM-dd")</dd>

                            <dt class="col-sm-4">Status</dt>
                            <dd class="col-sm-8">@Model.Status</dd>
                        </dl>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
